# Server
PORT=4000
NODE_ENV=development

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@host:5432/pos_db

# JWT
JWT_SECRET=8806208ca9268f08c27df51ade1e209b3db5fed6090829f8c6c0a10e4472700f40f981e3ecdcb86fc1e7ddd681e5b57c
JWT_EXPIRES_IN=12h

# CORS - set to your frontend origin in production, e.g. https://mypos.vercel.app
CORS_ORIGIN=smartmart-pos.netlify.app
